@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/InterVariable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/InterVariable-Italic.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    height: 100vh;
    margin: 0rem;
    padding: 0rem;
    background-color: black;
    color: white;
}

header {
    padding: 0.5rem;
    /* padding: 0.8rem 0.8rem 0.4rem 0.8rem; */
}

main {
    margin: 0rem 0.5rem 0.5rem 0.5rem;
}

p {
    margin: 0rem;
    padding: 0rem;
}

.flex {
    display: flex;
}

.framed {
    border: 1px solid white;
    border-radius: 0.5rem;
}

.middle_x {
    justify-content: center;
}

.middle_y {
    align-items: center;
}

.shy {
    width: min-content;
    height: min-content;
}

.filler {
    flex-grow: 1;
}

.showoff {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.logo {
    --size: 4rem;
    width: var(--size);
    height: var(--size);
    padding: 0.1rem;
    box-sizing: border-box;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.linkedin {
    --size: 3.4rem;
    width: var(--size);
    height: var(--size);
}

.tabula_rasa {
    color: white !important;
    text-decoration: none !important;
}

.project {
    margin: 0rem;
    padding: 0rem;
}

.lince {
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    border-radius: 0.6rem;
}

.title {
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.selfie {
    --size: 10rem;
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
}

.pea_size {
    --size: 1.5rem;
    width: var(--size);
    height: var(--size);
}

.almond_size {
    --size: 2.4rem;
    width: var(--size);
    height: var(--size);
}

.card {
    background: #111f36;
    border-radius: 1rem;
    padding: 2rem;
    width: 55vw;
}

.censa {
    gap: 1rem;
}

.mini_censa {
    gap: 0.5rem;
}

.stripped {
    margin: 0;
    padding: 0;
}

.axum,
.flask,
.express,
.htmx,
.rust,
.github,
.email,
.nextjs,
.sqlite,
.cassandra,
.vercel,
.prisma,
.mongodb {
    background: white;
    border-radius: 0.5rem;
}
.linux {
    background: black;
    border-radius: 0.5rem;
}

.nowrap {
    white-space: nowrap;
}

.eca {
    padding: 1rem;
    margin: 1rem;
}

.mini_eca {
    padding: 0.5rem;
}

.glow {
}

.full_h {
    height: 100vh;
}

.full_w {
    width: 100vw;
}

.almost_full_w {
    width: 96vw;
}

.left {
    align-items: start;
}
